* {
  margin: 0;
  font-family: Arial;
}

.baar {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/** box1 **/

.nlogo {
  height: 80px;
  width: 880px;
  margin-left: 150px;
}

.logo {
  background-image: url(netflix-logo.png);
  background-size: cover;
  height: 80px;
  width: 150px;
}

/** box2 **/
.lang-selector {
  height: 36px;
  width: 120px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px 16px;
}

/** box3 **/
.sign {
  border: none;
  border-radius: 6px;
  height: 36px;
  width: 100px;
  background-color: rgb(237, 10, 10);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.sign:hover {
  background-color: rgb(187, 0, 0);
}